<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Sequence</th>
    <th>Name</th>
    <th>Description</th>
    <th>Project</th>
    <th>From date</th>
    <th>To date</th>
    <th>Finished</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.sequence %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.project_id %></td>
    <td><%= task.from_date %></td>
    <td><%= task.to_date %></td>
    <td><%= task.finished %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
