<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :from_date %>
    <%= f.input :to_date %>
    <%= f.input :finished %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
